# sensor list is fetched from the Fusion tables

# SMA smoothing related, in bins
CONFIG_SMA1 := 288
CONFIG_SMA2 := 24

# syntax: option to `find` command
MAX_AGE_TO_CACHE := -mmin +30

# syntax: option to `date` command
# NOTE: Do NOT forget the single quotes below!
PLOT_FROM ?= '30 days ago'
PLOT_TO ?= 'now'

# in px
CONFIG_WIDTH_SMALL := 320
CONFIG_HEIGHT_SMALL := 200

CONFIG_WIDTH_BIG := 450
CONFIG_HEIGHT_BIG := 300

CONFIG_WIDTH_HUGE := 1920
CONFIG_HEIGHT_HUGE := 1080

CONFIG_WIDTH_ALL := 900
CONFIG_HEIGHT_ALL := 400

# long and short version of graph timezone (server local TZ does NOT matter)
CONFIG_TIMEZONE := 'Asia/Tokyo'
CONFIG_TZ := 'JST'

PUBLISH_CMD := rsync -HavPS --exclude=/.run --delete-excluded --delete out/ WEBSERVER:DIRECTORY/
VIEW_CMD := firefox out/index.html
